services:
  directus:
    image: directus/directus:${DIRECTUS_VERSION:-9.23.1}
    container_name: directus-inframe-${DIRECTUS_VERSION:-latest}
    environment:
      DB_CLIENT: 'sqlite3'
      DB_FILENAME: '/tmp/data/directus.db'
      KEY: 'test-key'
      SECRET: 'test-secret'
      ADMIN_EMAIL: 'admin@example.com'
      ADMIN_PASSWORD: 'admin123'
      PUBLIC_URL: 'http://directus:8055'
      STORAGE_LOCAL_ROOT: '/directus/uploads'
      EXTENSIONS_PATH: './extensions'
      EXTENSIONS_AUTO_RELOAD: 'true'
      PERMISSIONS_CACHE_TTL: '0'
      CACHE_ENABLED: 'false'
    volumes:
      - ./dist/app.js:/directus/extensions/directus-extension-inframe/dist/app.js:ro
      - ./dist/api.js:/directus/extensions/directus-extension-inframe/dist/api.js:ro
      - ./package.json:/directus/extensions/directus-extension-inframe/package.json:ro
    tmpfs:
      - /directus/uploads:rw,noexec,nosuid,size=64M,mode=777 # Usa memória temporária para uploads com permissões adequadas
      - /tmp/data:rw,noexec,nosuid,size=64M # Usa memória temporária para o banco de dados
    networks:
      - directus-test-network
    healthcheck:
      test: ['CMD', 'wget', '--no-verbose', '--tries=1', '--spider', 'http://0.0.0.0:8055/server/health']
      interval: 5s
      timeout: 3s
      retries: 20
      start_period: 30s

networks:
  directus-test-network:
    driver: bridge
    name: directus-inframe-test-${DIRECTUS_VERSION:-latest}
