name: CI

on:
  pull_request:
    branches: ['main', 'develop']

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 22.17.0
      - uses: pnpm/action-setup@v4
      - run: pnpm install
      - run: pnpm lint
      - run: pnpm format:check

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 22.17.0
      - uses: pnpm/action-setup@v4
      - run: pnpm install
      - run: pnpm build

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 22.17.0
      - uses: pnpm/action-setup@v4
      - run: pnpm install
      - name: Start Docker Compose
        run: docker compose -f docker-compose.test.yml up -d
      - name: Run tests
        run: pnpm test
      - name: Docker logs (on failure)
        if: failure()
        run: docker compose -f docker-compose.test.yml logs
      - name: Stop Docker Compose
        if: always()
        run: docker compose -f docker-compose.test.yml down
